<img src="images/hearhere_readme_logo.png" alt="logo" title="HearHere logo" align="middle"/>

## <p style="text-align: center;"> Measure local reputation of global banking <p>

## 1. Settings

In [1]:
#Check what data do you want to update. This will take a while
update_locations = False
update_tweets = False

## 2. HearHere

From here, all the code can run at once.

### 2.1. Get locations

In [2]:
import pandas as pd
from config import data_path
from files_updater import bbva_update_offices

#Build path to file
bbva_offices_path = data_path + 'bbva_offices.csv'

#Retrieve data
if update_locations: 
    bbva_offices = bbva_update_offices(bbva_offices_path)
else:
    bbva_offices = pd.read_csv(bbva_offices_path)
    
bbva_offices.head()

,office_number,address,latitude,longitude,place_id
0,92,"Carrera de Natalio Rivas, 23, C+P, 04770 Adra,...",36.748798,-3.015048,Ej5DK1AsIENhcnJlcmEgZGUgTmF0YWxpbyBSaXZhcywgMj...
1,5764,"Av. de Carlos III, 04720 Aguadulce, Almería, S...",36.814893,-2.571349,ChIJgYk3fQlxcA0Rg3xc24eoiwE
2,5461,"Paseo de Almería, 41, P+4001, 04001 Almería, S...",36.838480,-2.463138,EjRQKzQwMDEsIFBhc2VvIGRlIEFsbWVyw61hLCA0MSwgMD...
3,1809,"Paseo de Almería, 41, 04001 Almería, Spain",36.838480,-2.463138,ChIJe_rkcgF2cA0R7LhCBawLpCc
4,6828,"Calle Canónigo Molina Alonso, 6, P+4004, 04004...",36.834692,-2.461799,Ej9QKzQwMDQsIENhbGxlIENhbsOzbmlnbyBNb2xpbmEgQW...

### 2.2. Search for conversation